@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&family=Days+One&display=swap');
@import "tailwindcss";


* {
  font-family: 'Days One', 'Nunito', sans-serif;
}


.font-days {
  font-family: 'Days One', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}